 *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #FFE5EE;
    color: #D7256D;
}


.container {
    margin: 45px;
}

.middle-head h1 {
    margin-bottom: 40px;
}

.middle-body img {
    width: 30px;
}

.input-field {
    display: flex;
    justify-content: space-between;
}

.search {
    position: relative;
    display: inline-block;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 5px;
}

.search input[type='text'] {
    border: none;
    background-color: transparent;
    width: 400px;
    padding: 5px;
    font-size: 16px;
}

.search img {
    width: 55px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

select {
    padding: 5px;
    cursor: pointer;
    width: 150px; 
    border: none;
    background-color: transparent;
}

.div1 {
    padding: 10px;
    border: 1px solid grey;
    border-left: 4px solid grey;
    margin-top: 40px;
    margin-bottom: 20px;
}

.div1:hover {
    cursor: pointer;
}

.div1-holder {
    display: flex;
    justify-content: space-between;
}

.phase1 {
    display: flex;
    justify-content: space-evenly;
}

.d img {
    padding-top: 10px;
    height: 80px;
    width: 60px;
}

.div2 {
    padding: 20px;
    border: 1px solid grey;
    border-left: 4px solid grey;
    margin-top: 40px;
    margin-bottom: 20px;
}

.div2:hover {
    cursor: pointer;
}

.div2-holder {
    display: flex; 
    justify-content: space-between; 
}

.phase3 {
    display: flex;
}

.night-sky img {
    padding-top: 10px;
    height: 60px;
    width: 45px;
}

.div3 {
    padding: 20px;
    border: 1px solid grey;
    border-left: 4px solid grey;
    margin-top: 40px;
    margin-bottom: 20px;
}

.div3:hover {
    cursor: pointer;
}

.div3-holder {
    display: flex; 
    justify-content: space-between; 
}

.phase5 {
    display: flex;
}

.svs img {
    padding-top: 10px;
    height: 60px;
    width: 45px;
}

.div4 {
    padding: 20px;
    border: 1px solid grey;
    border-left: 4px solid grey;
    margin-top: 40px;
    margin-bottom: 20px;
}

.div4:hover {
    cursor: pointer;
}

.div4-holder {
    display: flex; 
    justify-content: space-between; 
}

.phase8 {
    display: flex;
}

.bcube img {
    padding-top: 10px;
    height: 60px;
    width: 50px;
}

.div5 {
    padding: 20px;
    border: 1px solid grey;
    border-left: 4px solid grey;
    margin-top: 40px;
    margin-bottom: 20px;
}

.div5:hover {
    cursor: pointer;
}

.div5-holder {
    display: flex; 
    justify-content: space-between; 
}

.phase10 {
    display: flex;
}

.one img {
    padding-top: 10px;
    height: 60px;
    width: 50px;
}

.butt button {
    margin: 20px;
    padding: 10px;
    background-color: #B5165B;
    color: white;
    cursor: pointer;
    border: none;
}

.company-info {
    margin-left: 20px;
}

.company-info h1 {
    padding-bottom: 10px;
}

.close {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
  }

  select {
    border: 2px solid #D7256D;
    width: 318px;
    margin-top: 10px;
}


@media screen and (max-width: 768px) {

    .container {
        margin: 25px;
    }

    .search input[type='text'] {
        border: none;
        background-color: transparent;
        width: 290px;
        padding: 5px;
        font-size: 16px;
    }


    .company-info h1 {
        font-size: 16px;
        padding-bottom: 10px;
    }

    .company-info {
        font-weight: 100px;
        margin-left: 4px;
    }

    .input-field {
       display: inline-block;
    }

    select {
        border: 2px solid #D7256D;
        width: 300px;
        margin-top: 10px;
    }

    .popup {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
      }
    
      .popup-content {
        height: 986%;
        width: 90%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        max-width: 400px;
      }
} 


































/* .job-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 900px;
}

.job-popup2 {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 900px;
}

.job-popup3 {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 900px;
}

.job-popup4 {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 900px;
}

.job-popup5 {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 900px;
}

.job-popup6 {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 900px;
}

.job-popup7 {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 900px;
}

.job-popup8 {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 900px;
} */



 


