*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #FFE4EE;
}

.wrapper {
    margin: 45px;
}


.header {
    display: flex;
    justify-content: space-between;
}

.navigation {
    display: flex;
    justify-content: space-between;
}
  
.header {
    font: 1em sans-serif;
    display: flex;
    align-items: center;
}
  
.site-name h1:hover {
    font-style: italic;
    cursor: pointer;
}
  
.navigation {
    display: flex;
    margin-top: 50px;
}

.navi {
    display: none;
}

#one:hover, #two:hover, #three:hover, #four:hover, #five:hover {
    cursor: pointer;
}
  
.navigation p {
    margin-right: 20px; 
}

.btn button {
    background-color: #F43F85;
    color: white;
    padding: 13px;
    border-radius: 10px;
    border: none;
    width: 100px;
}

.btn button:hover {
    cursor: pointer;
}

#new-feature {
    font-weight: bold;
    color: #660E39;
    background-color:#FBCBDE;
    border-radius: 5px;
    height: 15px;
}

.intro button {
    padding: 0px;
    height: 55px;
    background-color: transparent;
    display: flex;
    border-radius: 20px;
    border: 1px solid;
    margin-left: 510px;
    margin-top: 50px;
}

.intro button p {
    margin: 20px;
}

.intro button:hover {
    cursor: pointer;
}

.writing {
    font-family: 'Poppins', sans-serif;
    margin-top: 80px;
    text-align: center;
}

#recruit {
    font-size: clamp(2rem,1.527rem + 2.3649vw,3.75rem);
    font-weight: 900;
}

.btn2 button {
    background-color: #F43F85;
    color: white;
    padding: 15px;
    margin-left: 600px;
    margin-top: 60px;
    margin-bottom: 90px;
    width: 130px;
    border-radius: 15px;
    border: none;
}

.btn2 button:hover {
    cursor: pointer;
    background-color: #f3649b;
}

.images img {
    margin-left: 40px;
    width: 150px;
}

.images {
    display: flex;
    justify-content: space-evenly;
}

.down { 
    margin-top: 60px;
    text-align: center;
}

.down h1 {
    color: #B71F61;
}

.down p {
    font-weight: bold;
    color: #660E39;
}

.before-finish {
    margin-top: 100px;
    background-color: #B691D4;
    border-radius: 30px;
    height: 350px;
    text-align: center;
}

.before-finish h1 {
    font-size: 50px;
    padding: 50px;
    color: #B5165B;
}

.before-finish p {
    word-spacing: -1px;
    font-size: 30px;
    font-weight: bold;
    color: #660E39;
}

.btn3 button {
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 15px;
    background-color: #F43F85;
    width: 100px;
    margin-left: 550px;
    height: 40px;
    margin-top: 30px;
}

.btn3 p {
    cursor: pointer;
    font-weight: 300;
    margin-left: 50px;
    margin-top: 30px;
}

.btn3 img {
    margin-top: 50px;
    height: 20px;
    background: pink;
}


.btn3 {
    margin-top: 30px;
    display: flex;
}

.site-name {
    color: #F43F85;
}


.above {
    justify-content: center;
    margin-top: 50px;
    display: flex;
}

.below {
    display: flex;
    justify-content: space-between;
}

.below h1 {
    text-align: center;
}

.above img {
    padding-bottom: 30px;
    width: 90px;
    height: 100px;
    margin-right: 200px;
}

.above h1 {
    margin-left: 200px;
    font-weight: 900;
    color: #B5165B;
    text-align: center;
}

.below h1 {
    font-size: 60px;
    color: #B5165B;
}

#recruit {
    color: #660E39;
}

#recruit strong {
    color: #F43F85;
}

.holder p {
    font-weight: bolder;
    color: #660E39;
}

.ri-menu-line {
    cursor: pointer;
    display: none;
}



@media (max-width: 480px) {
    .ri-menu-line {
        color: #B5165B;
        display: block;
    }

    #recruit {
        padding-top: 5px;
    }

    .navi {
        display: none;
    }

    .navigation {
        display: none;
    }

    .toggleNav {
        display: block;
    }

    .wrapper {
      margin: 15px;
    }

    #new-feature {
        font-size: 10px;
        font-weight: bold;
        background-color:#FBCBDE;
        border-radius: 5px;
    }
    
    .intro button {
        display: none;
    }
    
    .intro button p {
        font-size: 10px;
        margin: 20px;
    }
    
    #three {
        cursor: pointer;
        color: #660E39;
    }

    .images img {
        margin-left: 20px;
        width: 60px;
        display: none;
    }


    .navigation p {
      margin-right: 0;
      margin-bottom: 5px;
    }

    .btn2 button {
      display: none;
      padding: 10px;
      margin-top: 30px;
      margin-bottom: 60px;
      width: 110px;
      font-size: 14px;
    }

    .holder p {
        margin-top: 80px;
        font-weight: bolder;
        display: none;
    }
  
    .btn3 button {
        display: none;
    }

    .btn3 p {
        display: none;
    }
  
    .below h1 {
      font-size: 20px;
    }

    .below p {
        font-size: 11px;
    }
  
    .above img {
      width: 100px;
      height: 70px;
      margin-right: 100px;
      margin-top: 25px;
    }
  
    .above h1 {
      margin-bottom: 25px;
      margin-left: 100px;
      font-size: 20px;
    }
  
    .down h1 {
      font-size: 25px;
    }
  
    .down p {
      font-size: 16px;
    }
  
    .before-finish {
      height: 250px;
    }
  
    .before-finish h1 {
      font-size: 30px;
      padding: 30px;
    }
  
    .before-finish p {
        padding: 15px;
      font-size: 20px;
    }
}

@media (max-width: 810px) {
    .ri-menu-line {
        color: #B5165B;
        display: block;
    }

    .images img {
        display: none;
    }

    .site-name h1 {
        padding-right: 20px;
    }

    .above h1 {
      margin-bottom: 35px;
      font-size: 30px;
    }

    .below h1 {
        font-size: 30px;
    }

    .below p {
        text-align: center;
    }

    .btn3 button {
        display: none;
    }

    .btn3 p {
        display: none;
    }

    .intro button {
        display: none;
    }

    #recruit {
        margin-top: 30px;
    }

    .btn2 button {
        margin-left: 5px;
    }
}
